2captcha-python==1.1.0
aiofiles==0.8.0
aiohttp==3.7.4.post0
aiosonic==0.13.0
alabaster==0.7.12
altgraph==0.17.2
anyio==3.3.4
appdirs==1.4.4
APScheduler==3.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
autopep8==1.6.0
autoscraper==1.1.12
Babel==2.9.1
backoff==1.11.1
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.11.1
benny.py==1.0.0
bidict==0.21.4
bindglobal==0.0.3
blinker==1.4
brainfuckery==1.0.1
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
cfscrape==2.1.1
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
cloudscraper==1.2.58
cocos2d==0.6.9
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
configparser==5.2.0
cord.py==1.27a0
crayons==0.4.0
cryptography==36.0.1
cssselect==1.1.0
Cython==0.29.28
dearpygui==1.6.2
decompyle3==3.8.0
discord-emoji==1.3.1
discord-rpc.py==1.3.0
discord-webhook==0.14.0
discord.py==1.7.3
discord.py-self-embed==1.0.6
discum==1.1.0
distlib==0.3.3
dnspython==2.2.1
docutils==0.17.1
easy-discord-webhooks==1.0.1
emoji==1.6.3
eventlet==0.33.0
fade==0.0.9
fake-useragent==0.1.11
Faker==9.7.1
filelock==3.4.0
filetype==1.0.8
Flask==2.0.3
Flask-Mobility==1.1.0
Flask-SocketIO==5.1.1
fleep==1.0.1
glfw==2.5.1
global-hotkeys==0.0.4
GPUtil==1.4.0
greenlet==1.1.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
httpcore==0.14.3
httplib2==0.20.2
httptools==0.4.0
httpx==0.21.1
httpx-socks==0.6.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
ifaddr==0.2.0
imagesize==1.3.0
imgui==1.4.1
importlib-metadata==4.11.1
itsdangerous==2.0.1
jarowinkler==1.0.2
Jinja2==3.0.3
kahoot.py==1.0.0
KahootPY==0.1.4
keyboard==0.13.5
Kivy==2.0.0
Kivy-Garden==0.1.4
libarchive-c==4.0
lxml==4.8.0
macholib==1.15.2
MarkupSafe==2.0.1
mouse==0.7.1
MouseInfo==0.1.3
multidict==5.2.0
mutagen==1.45.1
names==0.3.0
nertivia4py==1.0.8
netifaces==0.10.6
numpy==1.21.3
onecache==0.1.0
opendrop==0.13.0
outcome==1.1.0
packaging==21.3
parse==1.19.0
peewee==3.15.1
Pillow==8.4.0
platformdirs==2.4.0
playwright==1.19.0
priority==2.0.0
psutil==5.8.0
pyarmor==7.0.2
pyarmor-webui==1.3.2
PyAutoGUI==0.9.53
pybricks==3.1.0
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.11.0
pycryptodomex==3.14.1
pyee==8.1.0
pyfiglet==0.8.post1
pygame==2.0.0.dev6
PyGetWindow==0.0.9
pyglet==1.5.21
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pymitter==0.3.1
PyMsgBox==1.0.9
pync==2.0.3
pynput==1.7.5
pyobjc==8.1
pyobjc-core==8.1
pyobjc-framework-Accessibility==8.1
pyobjc-framework-Accounts==8.1
pyobjc-framework-AddressBook==8.1
pyobjc-framework-AdServices==8.1
pyobjc-framework-AdSupport==8.1
pyobjc-framework-AppleScriptKit==8.1
pyobjc-framework-AppleScriptObjC==8.1
pyobjc-framework-ApplicationServices==8.1
pyobjc-framework-AppTrackingTransparency==8.1
pyobjc-framework-AudioVideoBridging==8.1
pyobjc-framework-AuthenticationServices==8.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.1
pyobjc-framework-Automator==8.1
pyobjc-framework-AVFoundation==8.1
pyobjc-framework-AVKit==8.1
pyobjc-framework-BusinessChat==8.1
pyobjc-framework-CalendarStore==8.1
pyobjc-framework-CallKit==8.1
pyobjc-framework-CFNetwork==8.1
pyobjc-framework-ClassKit==8.1
pyobjc-framework-CloudKit==8.1
pyobjc-framework-Cocoa==8.1
pyobjc-framework-Collaboration==8.1
pyobjc-framework-ColorSync==8.1
pyobjc-framework-Contacts==8.1
pyobjc-framework-ContactsUI==8.1
pyobjc-framework-CoreAudio==8.1
pyobjc-framework-CoreAudioKit==8.1
pyobjc-framework-CoreBluetooth==8.1
pyobjc-framework-CoreData==8.1
pyobjc-framework-CoreHaptics==8.1
pyobjc-framework-CoreLocation==8.1
pyobjc-framework-CoreMedia==8.1
pyobjc-framework-CoreMediaIO==8.1
pyobjc-framework-CoreMIDI==8.1
pyobjc-framework-CoreML==8.1
pyobjc-framework-CoreMotion==8.1
pyobjc-framework-CoreServices==8.1
pyobjc-framework-CoreSpotlight==8.1
pyobjc-framework-CoreText==8.1
pyobjc-framework-CoreWLAN==8.1
pyobjc-framework-CryptoTokenKit==8.1
pyobjc-framework-DataDetection==8.1
pyobjc-framework-DeviceCheck==8.1
pyobjc-framework-DictionaryServices==8.1
pyobjc-framework-DiscRecording==8.1
pyobjc-framework-DiscRecordingUI==8.1
pyobjc-framework-DiskArbitration==8.1
pyobjc-framework-DVDPlayback==8.1
pyobjc-framework-EventKit==8.1
pyobjc-framework-ExceptionHandling==8.1
pyobjc-framework-ExecutionPolicy==8.1
pyobjc-framework-ExternalAccessory==8.1
pyobjc-framework-FileProvider==8.1
pyobjc-framework-FileProviderUI==8.1
pyobjc-framework-FinderSync==8.1
pyobjc-framework-FSEvents==8.1
pyobjc-framework-GameCenter==8.1
pyobjc-framework-GameController==8.1
pyobjc-framework-GameKit==8.1
pyobjc-framework-GameplayKit==8.1
pyobjc-framework-ImageCaptureCore==8.1
pyobjc-framework-IMServicePlugIn==8.1
pyobjc-framework-InputMethodKit==8.1
pyobjc-framework-InstallerPlugins==8.1
pyobjc-framework-InstantMessage==8.1
pyobjc-framework-Intents==8.1
pyobjc-framework-IntentsUI==8.1
pyobjc-framework-IOSurface==8.1
pyobjc-framework-iTunesLibrary==8.1
pyobjc-framework-KernelManagement==8.1
pyobjc-framework-LatentSemanticMapping==8.1
pyobjc-framework-LaunchServices==8.1
pyobjc-framework-libdispatch==8.1
pyobjc-framework-LinkPresentation==8.1
pyobjc-framework-LocalAuthentication==8.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.1
pyobjc-framework-MailKit==8.1
pyobjc-framework-MapKit==8.1
pyobjc-framework-MediaAccessibility==8.1
pyobjc-framework-MediaLibrary==8.1
pyobjc-framework-MediaPlayer==8.1
pyobjc-framework-MediaToolbox==8.1
pyobjc-framework-Metal==8.1
pyobjc-framework-MetalKit==8.1
pyobjc-framework-MetalPerformanceShaders==8.1
pyobjc-framework-MetalPerformanceShadersGraph==8.1
pyobjc-framework-MetricKit==8.1
pyobjc-framework-MLCompute==8.1
pyobjc-framework-ModelIO==8.1
pyobjc-framework-MultipeerConnectivity==8.1
pyobjc-framework-NaturalLanguage==8.1
pyobjc-framework-NetFS==8.1
pyobjc-framework-Network==8.1
pyobjc-framework-NetworkExtension==8.1
pyobjc-framework-NotificationCenter==8.1
pyobjc-framework-OpenDirectory==8.1
pyobjc-framework-OSAKit==8.1
pyobjc-framework-OSLog==8.1
pyobjc-framework-PassKit==8.1
pyobjc-framework-PencilKit==8.1
pyobjc-framework-Photos==8.1
pyobjc-framework-PhotosUI==8.1
pyobjc-framework-PreferencePanes==8.1
pyobjc-framework-PushKit==8.1
pyobjc-framework-Quartz==8.1
pyobjc-framework-QuickLookThumbnailing==8.1
pyobjc-framework-ReplayKit==8.1
pyobjc-framework-SafariServices==8.1
pyobjc-framework-SceneKit==8.1
pyobjc-framework-ScreenSaver==8.1
pyobjc-framework-ScreenTime==8.1
pyobjc-framework-ScriptingBridge==8.1
pyobjc-framework-SearchKit==8.1
pyobjc-framework-Security==8.1
pyobjc-framework-SecurityFoundation==8.1
pyobjc-framework-SecurityInterface==8.1
pyobjc-framework-ServiceManagement==8.1
pyobjc-framework-ShazamKit==8.1
pyobjc-framework-Social==8.1
pyobjc-framework-SoundAnalysis==8.1
pyobjc-framework-Speech==8.1
pyobjc-framework-SpriteKit==8.1
pyobjc-framework-StoreKit==8.1
pyobjc-framework-SyncServices==8.1
pyobjc-framework-SystemConfiguration==8.1
pyobjc-framework-SystemExtensions==8.1
pyobjc-framework-UniformTypeIdentifiers==8.1
pyobjc-framework-UserNotifications==8.1
pyobjc-framework-UserNotificationsUI==8.1
pyobjc-framework-VideoSubscriberAccount==8.1
pyobjc-framework-VideoToolbox==8.1
pyobjc-framework-Virtualization==8.1
pyobjc-framework-Vision==8.1
pyobjc-framework-WebKit==8.1
PyOpenGL==3.1.6
pyOpenSSL==22.0.0
pyparsing==3.0.6
pyperclip==1.8.2
pyppeteer==1.0.2
pyPrivnote==0.0.1a1
pyquery==1.4.3
PyRect==0.1.4
PyScreeze==0.1.28
PySDL2==0.9.11
PySocks==1.7.1
python-dateutil==2.8.2
python-engineio==4.3.0
python-masscan==0.1.6
python-socketio==5.5.0
python-socks==1.2.4
python-telegram-bot==13.11
python-translator==1.0.3
pytube==12.1.0
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
quart==0.16.2
queuelib==1.6.2
random-user-agent==1.0.1
rapidfuzz==2.0.11
regex==2022.7.25
requests==2.27.1
requests-html==0.10.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.4.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
rubicon-objc==0.4.2
rule34==1.8.1
rumps==0.3.0
sanic==21.12.1
sanic-routing==0.7.2
selenium==4.1.2
simplejson==3.17.5
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
snowflake-id==0.0.2
socketio==0.2.1
socketIO-client==0.7.2
sortedcontainers==2.4.0
sounddevice==0.4.3
soupsieve==2.3
spark-parser==1.8.9
Sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotify==0.10.2
spotipy==2.19.0
sty==1.0.0rc0
tasksio==0.0.0
temp-mail==0.2
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.2
tornado==6.1
tqdm==4.62.3
trio==0.20.0
trio-websocket==0.9.2
typesense==0.14.0
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
ua-parser==0.10.0
ujson==5.1.0
uncompyle6==3.8.0
Unidecode==1.3.4
urllib3==1.26.9
user-agent==0.1.10
uvloop==0.16.0
uwuify==1.1.0
v==0.0.0
vext==0.7.6
vext.gi==0.7.4
virtualenv==20.10.0
w3lib==1.22.0
webdriver-manager==3.5.3
websocket-client==1.2.1
websockets==10.1
Werkzeug==2.0.2
wsproto==1.0.0
xdis==6.0.3
xrequests @ git+https://github.com/Gowixx/xrequests/@89569662f23206a4cf821a7f58f63a5d5b9c82d7
Yaml8==0.1.2
yarl==1.7.0
yt-dlp==2022.5.18
ytmusicapi==0.22.0
zeroconf==0.38.7
zipp==3.7.0
